@charset "utf-8";

//Imports
@import "./animations.scss";
@import "./overwrite.scss";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/bulma.sass";

//Colors
$orange: #F25D07;
$purple: #8A4D76;
$pink: #FA7C91;
$white: white;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

//Color classes
.is-orange {
    color: $orange;
};

//Family and Link colors
$family-sans-serif: "Open sans", sans-serif;
$grey-dark:$white;
$grey-light: $beige-light;
$primary: $orange;
$link: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

p {
    font-family: $family-sans-serif;
    font-size: 0.9rem;
};


// SLider
#slider {
    background-image: url(/img/fondoslider.png);
    background-size: cover;
};

// Button
.is-orange-button {
    width: 18em;
    height: 3em;
    border: 0px solid;
    font-size: 0.8rem;
    color: white;
    background-color: #F25D07;
}

//ID

#services {
    background: url(../img/fondotriangulos.jpg) no-repeat center center;
    background-size: contain;
}
#alquiler-de-oficinas {
    background: url(../img/fondo3.jpg) no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
};

#cards-service .column:hover {
    background-color: #aaa9a91a;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
};

